
nav{
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  padding: 16px 16px;
}

nav li {
  display: inline;
}

nav li a {
  display: inline;
  padding: 16px 16px;
  text-decoration: none;
  color: #333;
}

nav li a.active {
  background-color: #4CAF50;
  color: white;
}

nav li a:hover:not(.active) {
  background-color: #ddd;
  color: #333;
}

.container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex-basis: 33.33%;
  padding: 0px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.card img {
  width: 100%;
  height: auto;
}

h3 {
  margin-top: 16px;
}

.title {
  color: #888;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 16px;
}

button:hover {
  opacity: 0.8;
}

.footer{
  background-color: #4CAF50;
  height: 30px;
  text-align: center;
  padding: 14px;
}