
nav{
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  padding: 16px 16px;
}

nav li {
  display: inline;
}

nav li a {
  display: inline;
  padding: 16px 16px;
  text-decoration: none;
  color: #333;
}

nav li a.active {
  background-color: #4CAF50;
  color: white;
}

nav li a:hover:not(.active) {
  background-color: #ddd;
  color: #333;
}

.container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex-basis: 33.33%;
  padding: 0px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.card img {
  width: 100%;
  height: auto;
}

h3 {
  margin-top: 16px;
}

.title {
  color: #888;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 16px;
}

button:hover {
  opacity: 0.8;
}

.footer{
  background-color: #4CAF50;
  height: 30px;
  text-align: center;
  padding: 14px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup img{ width: 100%;}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {color: #06D85F;}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

#openPopUp{
  color: #f1f1f1;
}